<html ng-app>
	<head>

	<!-- 
		Author : Aldo Pizzagalli
		contact: aldopizzagalli@gmail.com // @aldopizzagalli 
		Version: 0.0.1
	 --> 

		<TITLE>Simple Accessible Form in AngularJS</TITLE>

		<script id="angularScript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.0-beta.8/angular.js"></script>
		<script>
 

			function controller1($scope) {
				
				$scope.first = "";
				$scope.last = "";
				$scope.email = "";	

				$scope.validate = function(){

					if($scope.first  === ''){
						$scope.error_firstName = true;		
					}
					if($scope.last  === ''){
						$scope.error_lastName = true;		
					}
					if($scope.email  === ''){
						$scope.error_emailtName = true;		
					}


					if(!(($scope.last  === '') && ($scope.last  === '') && (scope.email  === ''))){
						$scope.success = true;
					}

					return false;
				
				};	
			}	

		</script>
	</head>
	<body ng-controller="controller1">

		<H1>Simple Accessible Form in AngularJS</H1>
		<p>Tested on : OS X 10.8.4 + Safari + VoiceOver</p>

	 	<form name="signup" id="signup" method="post" action="" ng-submit="validate()">
		  <p id="errors" role="alert" aria-atomic="true" >
		  	<span ng-if="error_firstName"> 	Please enter your First name.<br /></span>
		  	<span ng-if="error_lastName"> 	Please enter your Last name.<br /></span>
		  	<span ng-if="error_emailtName"> Please enter your email address.<br /></span>
		  </p>

			<p id="success" role="alert" aria-atomic="true" >
		  	<span ng-if="success"> 	Form Success!! </span>
		  </p>

		  <p>
		    <label for="first">UserName </label><br>
		    <input type="text" ng-model="first"  id="first" aria-required="true">
		  </p>
		  <p>
		    <label for="last">Last Name</label><br>
		    <input type="text" ng-model="last" id="last" aria-required="true">
		  </p>
		  <p>
		    <label for="email">Email</label><br>
		    <input type="text" ng-model="email" id="email" aria-required="true">
		  </p>
		  <p>
		    <input type="submit" id="testValue"  name="button"  value="Submit">
		  </p>
		</form>
         
	</body>
</html>